body {
  background-color: #c0ffce;
}
.img {
  width: 200px;
  height: 200px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 50pt;
  color: #c0ffce;
  background-color: #ffe0f7;
}

.container {
  text-align: center;
  max-width: 500px;
  margin: auto;
  background-color: #ffe0f7;

}
